---
import ExperienceItem from "./ExperienceItem.astro";
import Heading from "../ui/Heading.astro";
import { Icon } from "astro-icon/components";

const EXPERIENCE = [
  {
    date: "July 2025 - August 2025",
    title: "ATD Intern",
    company: "Framestore",
    description:
      "Worked as an Assistant technical director for multiple shows, Aided with asset and camera ingestions into the Framestore pipeline and helped troubleshoot issues artists had with software. Navigated using terminal commands and coded Python tools to help speedup workflow.",
  },
  {
    date: "July 2023 - September 2023",
    title: "VFX PA",
    company: "Paddington 3",
    description:
      "Assisted with VFX data wrangling, worked and handled VFX Stuffies. Operated a witness camera, helped shoot HDRIS. Worked with a radio, fully radio-trained. Consistent craft runs to aid the crew.",
  },
  {
    date: "October 2022",
    title: "Studio Runner",
    company: "Final Cut",
    description:
      "Use of AVID, in the context of editing a music video. Worked with clients and staff to provide refreshments, completed errands for the clients and staff such as lunch runs",
  },
  {
    date: "July 2022",
    title: "Studio Runner",
    company: "Coffee & TV",
    description:
      "Front of house role, working with clients and staff to provide refreshments , completed errands for the clients and staff . Organising media hard drives to ensure that footage is available to clients and staff . Applied knowledge of Microsoft Office to manage scheduling/stock.",
  },
];
---

<section class="py-8 px-8 max-md:py-4 mb-4 scroll-m-16" id="experience">
  <div class="flex flex-col pt-8 max-w-4xl mx-auto">
    <div class="flex gap-4 items-center justify-center">
      <Icon class="text-3xl dark:text-white text-blacktext" name="briefcase" />
      <Heading text="Work" textGradient="Experience" level={2} />
    </div>

    <div class="relative max-md:mt-0 mt-8" aria-label="Professional experience">
      <ol class="relative mt-10">
        {
          EXPERIENCE.map((experience, index) => (
            <li>
              <article
                role="article"
                aria-labelledby={`experience-title-${index}`}
              >
                <div
                  class="flex flex-col gap-2  text-zinc-00 dark:text-zinc-300 md:col-span-3"
                  aria-describedby={`experience-title-${index}`}
                >
                  <ExperienceItem {...experience} />
                </div>
              </article>
            </li>
          ))
        }
      </ol>
    </div>
  </div>
</section>
